<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALERIA</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../image/logo inefable.png" type="image/x-icon">
</head>

<body class="bodyGaleria">
    <header>
        <nav class="navbar flex-row container">
            <picture class="logo">
                <a href="../../index.html">
                    <img src="../image/inefable logo.png" alt="">
                </a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../../index.html" class="menu__link">INICIO</a>
                </li>
                <li class="menu__item">
                    <a href="../views/equipo.html" class="menu__link">EQUIPO</a>
                </li>
                <li class="menu__item">
                    <a href="../views/servicios.html" class="menu__link">SERVICIOS</a>
                </li>
                <li class="menu__item">
                    <a href="../views/galeria.html" class="menu__link">GALERIA</a>
                    <ul class="subMenu">
                        <li><a href="../views/casamientos.html">Casamientos</a> </li>
                        <li><a href="../views/cumpleaños.html">Cumpleaños</a> </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a href="../views/contacto.html" class="menu__link">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

        <section class="galeria">
            <h2>GALERIA</h2>
            <section>
                Algunos recuerdos de nuestra participacion en eventos.
            </section>
            <section class="lunes">
                <img src="../image/evento lunes.jfif" alt="">
            </section>
            <section class="martes">
                <img src="../image/evento martes.jfif" alt="">
            </section>
            <section class="miercoles">
                <img src="../image/evento miercoles.jfif" alt="">
            </section>
            <section class="jueves">
                <img src="../image/evento jueves.jfif" alt="">
            </section>
            <section class="viernes">
                <img src="../image/evento viernes.jfif" alt="">
            </section>
            <section class="informacion">
                Para mas fotografias podes visualizar nuestras redes sociales o solicitarlas via mail.
            </section>
        </section>
    </main>
    <footer class="footer">
        <p>Todos los derechos reservados</p>
    </footer>
</body>

</html>