<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICIOS</title>
    <link rel="shortcut icon" href="../image/logo inefable.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="bodyServicios">
    <header>
        <nav class="navbar flex-row container">
            <picture class="logo">
                <a href="../../index.html">
                    <img src="../image/inefable logo.png" alt="">
                </a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../../index.html" class="menu__link">INICIO</a>
                </li>
                <li class="menu__item">
                    <a href="../views/equipo.html" class="menu__link">EQUIPO</a>
                </li>
                <li class="menu__item">
                    <a href="../views/servicios.html" class="menu__link">SERVICIOS</a>
                </li>
                <li class="menu__item">
                    <a href="../views/galeria.html" class="menu__link">GALERIA</a>
                    <ul class="subMenu">
                        <li><a href="../views/casamientos.html">Casamientos</a> </li>
                        <li><a href="../views/cumpleaños.html">Cumpleaños</a> </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a href="../views/contacto.html" class="menu__link">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>SERVICIOS</h2>
        <table border cellpadding="10 px" cellspacing="5" class="precios">
            <th>Fotos</th>
            <th>Tiempo</th>
            <th>Precio</th>
            <tr>
                <td>50</td>
                <td>1 hora</td>
                <td>$2000</td>
            </tr>
            <tr>
                <td>120</td>
                <td>1:30 hora</td>
                <td>$4500</td>
            </tr>
            <tr>
                <td>300</td>
                <td>2 horas</td>
                <td>$5800</td>
            </tr>

        </table>
    </main>
    <footer class="footer">
        <p>Todos los derechos reservados</p>
    </footer>
</body>
</html>