.bodyContacto {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: var(&font-primary);
    background-color: var(&principal);
}
.main {
    .contactoFormulario {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column-gap: 3rem;
    }
    
    .contacto {
        margin: 2rem;
    }
    
    article {
        p {
             padding: map-get ($paddings , medium);
          }
  }
  
    .contactoTexto {
        margin: 2rem;
        width: 30rem;
        animation-name: animacion;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 4s;
        animation-delay: 2s;
    }
    form input {
        margin: 0.3rem;
    }
    form input:focus {
        outline: 2px solid var(&secondary);
    }
}
@media screen and (max-width: 768px) {
    .main {
        flex-wrap: wrap;
        min-height: 50vh;
    }
}